<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'
                [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>
                <span><img src='./../../assets/favicon.ico' width="24"></span>
                <span class='app-name'>Linsey</span>
            </a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav' *ngIf='isUserLoggedIn()'>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/recent"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/monuments"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-folder-open'></span> Monuments
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/users"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-user'></span> Users
                    </a>
                </li>
                <li>
                    <a class="link.active" (click)='logout();collapse()'>
                        <span class='glyphicon glyphicon-log-out'></span> Logout
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/settings"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-cog'></span> Settings
                    </a>
                </li>
            </ul>
            <ul class='nav navbar-nav' *ngIf='!isUserLoggedIn()'>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/register"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-user'></span> Register
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/login"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-log-in'></span> Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>