<table multiTemplateDataRows mat-table [dataSource]="monumentsDataSource" matSort matSortActive="name" matSortDirection="asc"
  matSortDisableClear>

  <ng-container matColumnDef="picture">
    <th mat-header-cell *matHeaderCellDef> Picture </th>
    <td mat-cell *matCellDef="let element">
      <img class="monument-image-preview" [src]="getImageSource(element)" />
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="constructionDate">
    <th mat-header-cell *matHeaderCellDef> Constructed </th>
    <td mat-cell *matCellDef="let element"> {{element.constructionDate | date:'yyyy-MM-dd'}} </td>
  </ng-container>

  <ng-container matColumnDef="ownerName">
    <th mat-header-cell *matHeaderCellDef> Owner name </th>
    <td mat-cell *matCellDef="let element"> {{element.ownerName}} </td>
  </ng-container>

  <ng-container matColumnDef="createdDate">
    <th mat-header-cell *matHeaderCellDef> Created date </th>
    <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'yyyy-MM-dd HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="modifiedDate">
    <th mat-header-cell *matHeaderCellDef> Modified date </th>
    <td mat-cell *matCellDef="let element"> {{element.modifiedDate | date:'yyyy-MM-dd HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="element-detail" [@detailExpand]="element == monumentsService.selectedMonumentPreview ? 'expanded' : 'collapsed'">
        <app-monuments-list-detail [monumentPreview]="element"></app-monuments-list-detail>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row" [class.expanded-row]="monumentsService.selectedMonumentPreview === element"
    (click)="onRowClick(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10]" [length]="monumentsDataSource.monumentsPreviewCount"
  showFirstLastButtons></mat-paginator>