.water-mark {
  position:fixed;
  right:0;
  bottom:0;
  margin:0;
  width:25%;
  height:50%;
  margin-right: 10px;
  opacity: 0.3;
  background:url('./../assets/watermark.png') no-repeat bottom right;
  background-size:100%;
}

@media (max-width: 767px) {
  .body-content {
    padding-top: 50px;
  }
}