<div class="card card-container">
    <img class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p class="profile-name-card"></p>
    <form class="form-container" #recoveryForm="ngForm">

        <p class="title">Please enter new password for your account</p>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input id="password" type="password" name="password" #password="ngModel" placeholder="New password..."
                [(ngModel)]="model.password" matInput required>
            <mat-error *ngIf="password.invalid || password.pristine">Password is required</mat-error>
        </mat-form-field>

        <div [hidden]="!severRejectedCommand" class="alert alert-danger">
            Your recovery link is expired
        </div>

        <button class="btn btn-lg btn-primary btn-block btn-submit" (click)="resetPassword()" type="button" [disabled]="!recoveryForm.form.valid || submitted">Change
            password</button>
    </form>
</div>