<div class="card card-container">
    <img class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p class="profile-name-card"></p>
    <form class="form-container" #recoveryForm="ngForm">

        <p class="text-center">Please enter new password for your account</p>

        <div class="form-group">
            <input id="password" type="password" name="password" #password="ngModel" class="form-control" placeholder="New password..."
                [(ngModel)]="model.password" required>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password is required
            </div>
        </div>

        <div [hidden]="!severRejectedCommand" class="alert alert-danger">
            Your recovery link is expired
        </div>

        <button class="btn btn-lg btn-primary btn-block btn-submit" (click)="resetPassword()" type="button" [disabled]="!recoveryForm.form.valid || submitted">Change password</button>
    </form>
</div>