<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job title</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
      <tr>
        <td>Mohsin</td>
        <td>Irshad</td>
        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
        <td>isometric.mohsin@gmail.com</td>
        <td>+923335586757</td>
        <td>
          <p title="Edit"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p>
        </td>
        <td>
          <p title="Delete"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>