.card {
    background-color: #F7F7F7;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}