`<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{monumentPreview.name}}</h4>
    </div>
    <div class="modal-body">
      <mat-spinner [hidden]="monument.id !== 0"></mat-spinner>
      <app-monuments-detail-form [hidden]="monument.id === 0" [monument]="monument"></app-monuments-detail-form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="close()">Close</button>
    </div>
  </div>
</div>