<div class="component-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-container header-container">
        <h1 class="header-component"><span>Users management</span></h1>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card card-container list-container">
        <app-users-list></app-users-list>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="column">
        <div class="row-sm-6">
          <mat-card class="card card-container actions-container">
            <app-users-actions></app-users-actions>
          </mat-card>
        </div>
        <div class="row-sm-6">
          <mat-card class="card card-container detail-container">
            <app-user-detail></app-user-detail>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>