<div class="user-details-container">
  <mat-label class='user-title'> User statistics </mat-label>
  <mat-label class='user-title-description'> for {{ userContext.email }} </mat-label>
  <div class="input-container">
    <mat-form-field appearance="outline">
      <mat-label>Last authenticated</mat-label>
      <input [value]="userStatistics.lastLoggedIn | date:'medium'" matInput placeholder="Last authenticated" readonly>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Last succesful authentication through login form</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Created monuments</mat-label>
      <input [value]="userStatistics.createdMonuments || 'Never'" matInput placeholder="Created monuments" readonly>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>How many monuments was created by the user</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last modified monument</mat-label>
      <input [value]="userStatistics.lastModifiedMonument || 'Never'" matInput placeholder="Last modified monument" readonly>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>What was the last modified monument</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <input [value]="userStatistics.role || 'No data'" matInput placeholder="Role" readonly>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Possible roles: User, Administrator</mat-hint>
    </mat-form-field>
  </div>
</div>