`<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{ dialogTitle }}</h4>
    </div>
    <div class="modal-body">
      <p>Here you can update specific user details.</p>

      <form class="form-container" #containerForm="ngForm">

        <mat-form-field appearance="outline">
          <mat-label>Email address</mat-label>
          <input id="email" type="email" name="email" placeholder="Email address" [(ngModel)]="user.email" matInput
            email readonly>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input id="firstName" #firstName="ngModel" type="text" name="firstName" placeholder="First name" [(ngModel)]="user.firstName"
            matInput required autofocus>
          <mat-error *ngIf="firstName.invalid || firstName.pristine">First name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input id="lastName" #lastName="ngModel" type="text" name="lastName" placeholder="Last name" [(ngModel)]="user.lastName"
            matInput required>
          <mat-error *ngIf="lastName.invalid || lastName.pristine">Last name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Job title</mat-label>
          <input id="jobTitle" #jobTitle="ngModel" type="text" name="jobTitle" placeholder="Job title" [(ngModel)]="user.jobTitle"
            matInput required>
          <mat-error *ngIf="jobTitle.invalid || jobTitle.pristine">Job title is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input id="password" matInput type="password" name="password" placeholder="Password" [(ngModel)]="newPassword">
        </mat-form-field>

        <div [hidden]="!serverError" class="alert alert-danger">
          {{ serverError }}
        </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="!containerForm.form.valid || submitted" (click)="confirm()">OK</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
  </div>
</div>