<div class="card card-container">
  <img class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
  <p class="profile-name-card"></p>
  <form class="form-container" #loginForm="ngForm">

    <div class="form-group">
      <input id="email" type="email" name="email" #email="ngModel" class="form-control" placeholder="Email address"
        [(ngModel)]="model.email" required autofocus email>
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        Please enter a valid e-mail
      </div>
    </div>

    <div class="form-group">
      <input id="password" type="password" name="password" #password="ngModel" class="form-control" placeholder="Password"
        [(ngModel)]="model.password" required>
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password is required
      </div>
    </div>

    <div id="remember" class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <div [hidden]="!errorMessage" class="alert alert-danger">
      {{errorMessage}}
    </div>

    <button class="btn btn-lg btn-primary btn-block btn-submit" (click)="login()" type="button" [disabled]="!loginForm.form.valid || submitted">Signin</button>
  </form>
  <a (click)='recoveryPassword()' class="forgot-password">
    Forgot the password?
  </a>
</div>