<div class="card card-container">
  <img class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
  <p class="profile-name-card"></p>
  <form class="form-container" #loginForm="ngForm">

    <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input id="email" type="email" name="email" #email="ngModel" placeholder="Email address" [(ngModel)]="model.email"
        required autofocus matInput email>
      <mat-error *ngIf="email.invalid || email.pristine">Email address is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input id="password" type="password" name="password" #password="ngModel" placeholder="Password" [(ngModel)]="model.password"
        matInput required>
      <mat-error *ngIf="password.invalid || password.pristine">Password is required</mat-error>
    </mat-form-field>

    <mat-checkbox>
      <span class='remember-me'>Remember me</span>
    </mat-checkbox>

    <div [hidden]="!errorMessage" class="alert alert-danger">
      {{errorMessage}}
    </div>

    <button class="btn btn-lg btn-primary btn-block btn-submit" (click)="login()" type="button" [disabled]="!loginForm.form.valid || submitted">Signin</button>
  </form>
  <a (click)='recoveryPassword()' class="forgot-password">
    Forgot the password?
  </a>
</div>