`<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Add pictures</h4>
    </div>
    <div class="modal-body">
      <p>Please select images which will be assigned to monument {{monument.name}}</p>

      <form class="form-container" #containerForm="ngForm">
        <mat-form-field appearance="outline">
          <mat-label>File</mat-label>
          <input #fileName="ngModel" id="fileName" type="text" name="fileName" placeholder="File name" [(ngModel)]="filePath"
            matInput readonly>
        </mat-form-field>
        <button type="button" class="btn btn-primary" ngxFilePicker accept="image/*" multiple (filePick)="onFilePick($event)">
          Browse
        </button>
        <div [hidden]="!severRejectedCommand" class="alert alert-danger">
          The e-mail is not assigned with any account
        </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="!containerForm.form.valid || submitted" (click)="upload()">Upload</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
  </div>
</div>